@media (max-width: 576px) {
  .quick-actions .action-label {
    display: none;
  }

  .quick-actions vaadin-button[aria-label] {
    padding-inline: var(--vaadin-padding-m);
  }
}

.styled-breadcrumb .breadcrumb-anchor {
	text-decoration: none;
}
